.font-cursive {
  font-family: "Great Vibes", cursive;
}
.nav {
}
.nav-logo {
  width: 40px;
  height: auto;
}

.container-listing .card {
  border-radius: 10% 10% 0 10%;
  height: 100%;
}
.container-listing img {
  border-radius: 0 10%;
.back{
    margin-left: 100px;
}
