.font-cursive {
  font-family: "Great Vibes", cursive;
}
.nav {
}
.nav-logo {
  width: 40px;
  height: auto;
}

.container-listing .card {
  border-left: 10%;
  border-right: 10%;
  height: 100%;
}
.container-listing img {
  border-radius: 10%;
}
